<a href="https://colab.research.google.com/github/Saividya5009/tuples/blob/master/tuples_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#write a python program to create a tuple.

In [4]:
t1=(1,2,3,5,6)
print(t1,type(t1))

(1, 2, 3, 5, 6) <class 'tuple'>

#write a python program to create a tuple with different data types.

In [3]:
t1=(1,"tuple",'123',3.87)
print(t1,type(t1))

(1, 'tuple', '123', 3.87) <class 'tuple'>

#write a python program to convert tuple to a string.

In [21]:
t1=('v','i','d','y','a')
t1=''.join(t1)
print(t1,type(t1))

vidya <class 'str'>

#write a python program to slice a tuple.

In [12]:
t1=(4,6,4,(3,8),6,9,3,2,8,1)
slice=t1[2:6]
print(slice)

(4, (3, 8), 6, 9)

#write a python program to find length of a tuple.

In [13]:
t1=(1,2,3,6,8,(5,4,6,73),6,3,5)
len(t1)

9

#write a python program to reverse a tuple.

In [17]:
t1=(1,5,7,8,9,3,5)
x=reversed(t1)
print(tuple(x))

(5, 3, 9, 8, 7, 5, 1)

#write a python program to convert list to a tuple.

In [20]:
list=[1,2,3,6,8,9,4]
print(list,type(list))
t1=tuple(list)
print(t1,type(t1))

[1, 2, 3, 6, 8, 9, 4] <class 'list'>
(1, 2, 3, 6, 8, 9, 4) <class 'tuple'>